body {
    //background: linear-gradient(180deg, #000 -1.23%, #F25321 101.26%);
    font-size: 16px !important; 
    background: #fff;

    #btn-projetos {
        background: linear-gradient(90deg, #0000005d 0%, #f25221 100%);
        backdrop-filter: blur(30px);

        border: 0;
        z-index: 10;
        position: fixed;
        bottom: 1em;
        right: 1em;

        &:hover {
            background: linear-gradient(90deg, #000000 0%, #f25221 100%);

        }
    }

    .documento {
        text-align: center;
        overflow: hidden;
        transform-style: preserve-3d ;
        transform: perspective(1000px);

        #pessoal {
            background: linear-gradient(90deg, #000 0%, #F25321 100%);
            overflow: hidden;

            #perfil {
                background-image: url(../../public/img/perfil.jpeg);
                background-color: #ffffff;
                background-size: cover;
                width: 10em;
                height: 10em;
            }

            h1 {
                font-weight: 800;
                color: white;
            }

            .badge {
                font-weight: 300;
                background-color: #00000046;
                backdrop-filter: blur(30px);
            }

            #contato {
                .link_contato {


                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }

        }

        #principal {
            li {
                font-weight: 100;
            }
        }


        header {
            background: linear-gradient(90deg, #000 0%, #F25321 50%, #000000 100%);

            h1 {
                font-weight: 900;
            }

            #name-title {
                position: absolute;
                right: 0;
                font-weight: 300;
                background-color: #ffffff2f;
                backdrop-filter: blur(30px);
                border: #fff solid 1px;
                border-width: 0 0 1.5px 1.5px !important;
                border-radius: 0 0 0 1em;

            }

            .card{
                img{
                    height: 2em;
                    max-height: 5em;
                }
            }


        }

    }











}
