// Fonts

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,400;1,500;1,700;1,900&display=swap');


// Variables
@import 'variables';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
// Bootstrap
@import 'bootstrap/scss/bootstrap';



@import 'estilo';

